body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(210, 46%, 95%);
    color: hsl(213, 19%, 18%);
    margin: 0;
    padding: 0;
}

figure {
    display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4px;
  margin-right: 4px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card a {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.card cite {
    font-style: normal;
    color: hsl(210, 46%, 95%);
    background-color: hsl(213, 19%, 18%);
    padding: 5px 10px;
    border-radius: 3px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-content {
    font-size: 1em;
    line-height: 1.5;
}